/**
 * Partial containing media query variables used
 * Two brekapoints used for responsiveness
 */

// Ipad screen Portrait and above
$ipad : 768px;

// Ipad screen Landscape and above
$ipadL: 980px;


$ipp: 'screen and (min-width: #{$ipad})';
$ipl: 'screen and (min-width: #{$ipadL})';
