/**
 * Pratials containing placeholder definitions used sitewide
 */

// ---------- Fonts -------------

%ralewayBold{
  font-family: $RBold, Arial , sans-serif;
}

%ralewayMedium{
  font-family: $RMedium, Arial , sans-serif;
}

%ralewayRegular{
  font-family: $RRegular, Arial , sans-serif;
}

%ralewayLight{
  font-family: $RLight, Arial , sans-serif;
}

// ------------ Animations ----------

%animationFast{
  @include transition(0.1s all cubic-bezier(0,0,0,0.4));
}

%animation{
  @include transition(0.2s all cubic-bezier(0,0,0,0.4));
}

%animationSlow{
  @include transition(0.3s all cubic-bezier(0,0,0,0.4));
}

// ---------- Other Layout specific -----------------

%textEllipsis{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

%flex-container{
  @include flexbox;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  width: 100%;
}

%close-btn {
  cursor: pointer;
  width: 41px;
  height: 41px;
  padding: 10px;
  opacity: 1;
  @extend %animation;
  @include rounded(100%);
  position: relative;
  color: transparent;
  &:hover {
    opacity: 1;
  }
  &:before,
  &:after {
    position: absolute;
    left: 45%;
    top: 10px;
    content: ' ';
    height: 24px;
    width: 1px;
    background-color: $black-close;
    @media #{$ipp}{
      background-color: $white;
    }
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
