/**
 * This SASS Implementation follows Component Based approach
 *
 * Main SASS file where all partials are imported in order of realtion to each
 * other.
 *
 * Initailly all base partial files are loaded which are dependencies for other
 * components. Then the related components partials are loaded.
 */
/**
 * Partials containing color variables used sitewide
 */
/**
 * Partial containing all font variables and font face inclusions
 */
@font-face {
  font-family: "Raleway Bold";
  src: url(../fonts/Raleway-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway-Bold.woff) format("woff"), url(../fonts/Raleway-Bold.ttf) format("truetype"), url(../fonts/Raleway-Bold.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Raleway Medium";
  src: url(../fonts/Raleway-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway-Medium.woff) format("woff"), url(../fonts/Raleway-Medium.ttf) format("truetype"), url(../fonts/Raleway-Medium.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Raleway Regular";
  src: url(../fonts/Raleway-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway-Regular.woff) format("woff"), url(../fonts/Raleway-Regular.ttf) format("truetype"), url(../fonts/Raleway-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Raleway Light";
  src: url(../fonts/Raleway-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway-Light.woff) format("woff"), url(../fonts/Raleway-Light.ttf) format("truetype"), url(../fonts/Raleway-Light.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Partial containing media query variables used
 * Two brekapoints used for responsiveness
 */
/**
 * Partials containing mixins used generally
 */
/**
 * Animation Placeholder used for standard animations
 */
.header--region--arrow img {
  animation: bounce 1.2s cubic-bezier(0, 0, 0, 0.4) infinite; }

.header--region--banner--content {
  transform-style: preserve-3d;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px; }

.header--region--banner--content img {
  animation: rotation 0.2s cubic-bezier(0, 0, 0, 0.4);
  animation-iteration-count: 2;
  animation-delay: 0.5s; }

@keyframes bounce {
  0% {
    transform: scale(1) translateY(-15px); }
  20% {
    transform: scale(1.3) translateY(15px); }
  100% {
    transform: scale(1) translateY(-15px); } }

@keyframes rotation {
  0% {
    transform: rotateZ(0deg); }
  25% {
    transform: rotateZ(-6deg); }
  50% {
    transform: rotateZ(0deg); }
  75% {
    transform: rotateZ(6deg); }
  100% {
    transform: rotateZ(0deg); } }

/**
 * Pratials containing placeholder definitions used sitewide
 */
body {
  font-family: "Raleway Regular", Arial, sans-serif; }

.search-bar--region--field--button, .load-more {
  transition: 0.1s all cubic-bezier(0, 0, 0, 0.4); }

body.initially-hidden {
  transition: 0.2s all cubic-bezier(0, 0, 0, 0.4); }

.results-card, .results-card--header__hover, .results-card--image:before {
  transition: 0.3s all cubic-bezier(0, 0, 0, 0.4); }

.results-card--title div {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }

.results {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

/**
 * Partial for General site layout
 */
* {
  box-sizing: border-box; }

body {
  font-size: 14px; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 16px; } }
  body.initially-hidden {
    opacity: 0; }
    body.initially-hidden.has-loaded {
      opacity: 1; }

.region {
  padding: 0 10px; }
  @media screen and (min-width: 768px) {
    .region {
      padding: 0 30px; } }

.hidden {
  display: none !important; }

/**
 * Partial for header related SASS
 */
.header {
  background: #c34473;
  color: #fff;
  padding: 20px 0;
  height: 100vh;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .header {
      padding: 40px 0; } }
  .header--region {
    height: 100%;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header--region--top {
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      -moz-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-align: center;
      -moz-align-items: center;
      align-items: center; }
      @media screen and (min-width: 768px) {
        .header--region--top {
          -ms-flex-align: start;
          -moz-align-items: flex-start;
          align-items: flex-start; } }
      .header--region--top--left--logo {
        width: 40px;
        height: 40px;
        overflow: hidden; }
        @media screen and (min-width: 768px) {
          .header--region--top--left--logo {
            width: 80px;
            height: auto; } }
        .header--region--top--left--logo img {
          width: 100%; }
    .header--region--banner {
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      -moz-align-items: center;
      align-items: center; }
      .header--region--banner--content {
        max-width: 90%;
        margin: 0 auto; }
        @media screen and (min-width: 768px) {
          .header--region--banner--content {
            max-width: 640px; } }
        .header--region--banner--content img {
          max-width: 100%;
          height: auto; }
    .header--region--arrow {
      text-align: center; }
      .header--region--arrow img {
        width: 43px;
        height: auto; }

/**
 * Partial for footer related SASS
 */
.footer {
  color: #fff;
  background: #333441;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  padding: 30px 20px; }
  @media screen and (min-width: 768px) {
    .footer {
      font-size: 18px;
      padding: 30px 0; } }

/**
 * Partial for Search bars and region specific.
 */
.search-bar {
  background: #333441;
  color: #fff;
  padding: 10px 0; }
  @media screen and (min-width: 768px) {
    .search-bar {
      padding: 20px 0; } }
  .search-bar--region--field {
    max-width: 500px;
    margin: 0 auto;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .search-bar--region--field {
        background: #fff;
        padding: 5px;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        border-radius: 25px; } }
    .search-bar--region--field--input {
      background: #fff;
      font-size: 16px;
      min-width: 100%;
      border-radius: 20px;
      line-height: 20px;
      min-height: 40px;
      padding: 10px 20px;
      margin: 10px 0 20px 0;
      color: #7f6c6c;
      border: 0; }
      @media screen and (min-width: 768px) {
        .search-bar--region--field--input {
          -moz-flex: 1;
          -ms-flex: 1;
          flex: 1;
          min-height: 30px;
          background: transparent;
          line-height: 20px;
          font-size: 14px;
          padding: 0 5px 0 20px;
          min-width: 0;
          margin: 0; } }
      .search-bar--region--field--input::-webkit-input-placeholder {
        color: #7f6c6c; }
      .search-bar--region--field--input:focus {
        outline: none; }
    .search-bar--region--field--button {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 20px;
      border-radius: 20px;
      background: #c34473;
      cursor: pointer;
      transform: scale(1); }
      @media screen and (min-width: 768px) {
        .search-bar--region--field--button {
          min-height: 30px;
          font-size: 12px;
          padding: 10px 25px;
          border-radius: 20px; } }
      .search-bar--region--field--button:hover {
        transform: scale(1.02);
        box-shadow: 1px 1px 3px #000; }

.search-results {
  background: #383a49; }
  @media screen and (min-width: 768px) {
    .search-results--region {
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      -moz-justify-content: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      min-height: 420px; } }
  .search-results--region--content {
    margin: 0 auto;
    padding: 0;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 420px; }
    @media screen and (min-width: 768px) {
      .search-results--region--content {
        max-width: 980px;
        padding: 40px 0; } }
  .search-results .error-screen--headline,
  .search-results .no-results--headline {
    margin: 30px 20px;
    font-size: 16px;
    color: #454756; }
    @media screen and (min-width: 768px) {
      .search-results .error-screen--headline,
      .search-results .no-results--headline {
        margin: 0;
        font-size: 24px; } }
    .search-results .error-screen--headline.pink,
    .search-results .no-results--headline.pink {
      color: #c34473; }
  .search-results .initial-screen {
    display: none;
    text-align: center;
    padding: 60px 0; }
    @media screen and (min-width: 768px) {
      .search-results .initial-screen {
        display: block; } }
    .search-results .initial-screen img {
      width: 160px; }
    .search-results .initial-screen--headline {
      margin-top: 30px;
      font-size: 24px;
      color: #454756; }
      .search-results .initial-screen--headline.pink {
        color: #c34473; }

/**
 * Partial for results grids and tiles
 */
.results {
  padding: 20px 0;
  overflow: hidden; }
  .results-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    float: left;
    background: #fff;
    margin: 5px 0;
    opacity: 0;
    transform: scale(0.3); }
    @media screen and (min-width: 768px) {
      .results-card {
        -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px);
        width: calc(50% - 10px);
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 10px 0; } }
    @media screen and (min-width: 980px) {
      .results-card {
        -ms-flex-preferred-size: calc(25% - 15px);
        flex-basis: calc(25% - 15px);
        width: calc(25% - 15px); } }
    .results-card.animated {
      opacity: 1;
      transform: scale(1); }
    @media screen and (min-width: 768px) {
      .results-card:hover .results-card--header__hover {
        opacity: 1; }
      .results-card:hover .results-card--image {
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        transform: scale(1.05); }
        .results-card:hover .results-card--image:before {
          opacity: 0; } }
    .results-card--header {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      background-color: #c34473;
      padding-top: 0;
      height: 72px;
      padding-left: 72px; }
      @media screen and (min-width: 768px) {
        .results-card--header {
          width: 100%;
          padding-left: 0;
          padding-top: 100%; } }
      .results-card--header__hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        color: #fff;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center; }
        .results-card--header__hover img {
          width: 60%; }
    .results-card--image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      line-height: 0;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: contain;
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
      transform: scale(1); }
      .results-card--image:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.3);
        background-repeat: no-repeat;
        background-position: 8% 92%;
        background-size: 28px;
        cursor: pointer; }
        @media screen and (min-width: 768px) {
          .results-card--image:before {
            background-size: 40px; } }
      .results-card--image.album:before {
        background-image: url(../img/album-icon@2x.png); }
      .results-card--image.artist:before {
        background-image: url(../img/artist-icon@2x.png);
        background-size: 18px;
        background-position: 15% 85%; }
        @media screen and (min-width: 768px) {
          .results-card--image.artist:before {
            background-size: 28px;
            background-position: 10% 88%; } }
    .results-card--title {
      cursor: pointer;
      padding: 20px;
      color: #000;
      line-height: 18px;
      font-size: 16px;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      -moz-align-items: center;
      align-items: center;
      width: calc(100% - 72px); }
      @media screen and (min-width: 768px) {
        .results-card--title {
          font-size: 16px; } }

.load-more {
  display: inline-block;
  background: #c34473;
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0px 0px 3px #000;
  border-radius: 40px; }
  .load-more:hover {
    transform: scale(1.04);
    box-shadow: 2px 2px 5px #000; }
  .load-more-wrapper {
    padding: 20px 0;
    text-align: center; }

/**
 * Partial for loader animations and  related SASS
 */
.loader {
  display: block;
  margin: 30px auto;
  width: 26px;
  height: 26px;
  position: relative;
  border: 4px solid #c34473;
  animation: loader 1.5s infinite ease;
  -o-animation: loader 1.5s infinite ease;
  -ms-animation: loader 1.5s infinite ease;
  -webkit-animation: loader 1.5s infinite ease;
  -moz-animation: loader 1.5s infinite ease; }
  @media screen and (min-width: 768px) {
    .loader {
      width: 48px;
      height: 48px; } }

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 1.5s infinite ease-in;
  -o-animation: loader-inner 1.5s infinite ease-in;
  -ms-animation: loader-inner 1.5s infinite ease-in;
  -webkit-animation: loader-inner 1.5s infinite ease-in;
  -moz-animation: loader-inner 1.5s infinite ease-in; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }

/*# sourceMappingURL=styles.css.map */
