/**
 * Pratials containing placeholder definitions used sitewide
 */

// ---------- Fonts -------------

%ralewayBold{
  font-family: $RBold, Arial , sans-serif;
}

%ralewayMedium{
  font-family: $RMedium, Arial , sans-serif;
}

%ralewayRegular{
  font-family: $RRegular, Arial , sans-serif;
}

%ralewayLight{
  font-family: $RLight, Arial , sans-serif;
}

// ------------ Animations ----------

%animationFast{
  @include transition(0.1s all cubic-bezier(0,0,0,0.4));
}

%animation{
  @include transition(0.2s all cubic-bezier(0,0,0,0.4));
}

%animationSlow{
  @include transition(0.3s all cubic-bezier(0,0,0,0.4));
}

// ---------- Other Layout specific -----------------

%textEllipsis{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

%flex-container{
  @include flexbox;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  width: 100%;
}
