/**
 * Partials containing color variables used sitewide
 */


$white: #fff;
$black: #000;

// palletes
$pink-pallete: #c34473;
$dark-violet-pallete: #333441;
$violet-pallete: #383a49;
$light-violet-pallete: #454756;
$brown-pallete: #7f6c6c;
$grey-pallete : #979797;

