/**
 * Partials containing color variables used sitewide
 */


$white: #fff;
$black: #3a3b46;
$black-close: #2c2c35;
// palletes
$pink-pallete: #c34473;
$dark-violet-pallete: #333441;
$violet-pallete: #383a49;
$light-violet-pallete: #454756;
$brown-pallete: #7f6c6c;
$light-grey-pallete: #f5f5f6;
$grey-pallete : #979797;
$dark-grey-pallete: #6d6f7f;

