<div class="modal-box" ng-class="modalState" ng-keydown="keypress($event)">
  <div class="modal-box--backdrop" ng-click="closeModal()"></div>
  <div class="modal-box--container">
    <div class="modal-box--close" ng-click="closeModal()">
      Close
    </div>
    <div class="modal-box--content">
        <!-- <div ng-include="'html/loader-gif.html'" class="loader-wrapper" ng-if="loadingItem"></div> -->
        <!-- <div ng-include="'html/album-template.html'" class="loader-wrapper"></div> -->
        <div ng-include="'html/lists-template.html'"></div>
    </div>
  </div>
</div>
