/**
 * Partial for General site layout
 */

*{
  box-sizing: border-box;
}

body{
  @extend %ralewayRegular;
  font-size: 14px;
  color: $black;
  @media #{$ipp}{
    font-size: 16px;
  }
  &.initially-hidden{
    opacity: 0;
    @extend %animation;
    &.has-loaded{
      opacity: 1;
    }
  }
}

// ---------- Regions specific -----------

.region{
  padding: 0 10px;
  @media #{$ipp}{
    padding: 0 30px;
  }
}

// ----------- Helper Classes -----------

.mobile-visible{
  @media #{$ipp}{
    display: none;
  }
}