/**
 * Partial for results grids and tiles
 */


.results{
  padding: 20px 0;
  overflow: hidden;
  @extend %flex-container;
  &-card{
    @include flex-basis(100%);
    @include flexbox;
    @include flex-direction(row);
    width: 100%;
    float: left;
    background: $white;
    margin: 5px 0;
    opacity: 0;
    @include transform(scale(0.3));
    @extend %animationSlow;
    min-width: 0; // hack for mitigating truncating side effects
    @media #{$ipp}{
      @include flex-basis(calc(50% - 10px));
      width: calc(50% - 10px);
      @include flex-direction(column);
      margin: 10px 0;
    }
    @media #{$ipl}{
      @include flex-basis(calc(25% - 15px));
      width: calc(25% - 15px);
    }
    &.animated{
      opacity: 1;
      @include transform(scale(1));
    }
    @media #{$ipp}{
      &:hover{
        .results-card--header__hover{
          opacity: 1;
        }
        .results-card--image{
          @include filter(blur(5px));
          @include transform(scale(1.05));
          &:before{
            opacity: 0;
          }
        }
      }
    }
    .overflow-wrapper{
      overflow: hidden; // for FF hack as we were using table
    }
    &--header{
      position: relative;
      overflow: hidden;
      cursor: pointer;
      background-color: $pink-pallete;
      padding-top: 0;
      height: 72px;
      padding-left: 72px;
      @media #{$ipp}{
        width: 100%;
        padding-left: 0;
        padding-top: 100%;
        display: table;
      }
      &__hover{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        opacity: 0;
        color: $white;
        @extend %animationSlow;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        img{
          width: 60%;
        }
      }
    }
    &--image{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      line-height: 0;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      @include filter(blur(0px));
      @include transform(scale(1));
      @extend %animationSlow;
      &:before{
        content: '';
        position: absolute;
        top : 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        z-index: 1;
        background-color: rgba(0,0,0,0.3);
        background-repeat: no-repeat;
        background-position: 8% 92%;
        background-size: 28px;
        @media #{$ipp}{
          background-size: 40px;
        }
        @extend %animationSlow;
        cursor: pointer;
      }
      &.album{
        &:before{
          background-image: url(../img/album-icon@2x.png);
        }
      }
      &.artist{
        &:before{
          background-image: url(../img/artist-icon@2x.png);
          background-size: 18px;
          background-position: 15% 85%;
          @media #{$ipp}{
            background-size: 28px;
            background-position: 10% 88%;
          }
        }
      }
    }
    &--title{
      cursor: pointer;
      padding: 20px;
      color: $black;
      line-height: 18px;
      font-size: 16px;
      @include flexbox;
      @include align-items(center);
      width: calc(100% - 72px);
      @media #{$ipp}{
        font-size: 16px;
      }
      div{
        @extend %textEllipsis;
      }
    }
  }
}
.load-more{
  display: inline-block;
  background: $pink-pallete;
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  cursor: pointer;
  @include transform(scale(1));
  @include box-shadow(0px 0px 3px $black);
  @extend %animationFast;
  @include rounded(40px);
  &:hover{
    @include transform(scale(1.04));
    @include box-shadow(2px 2px 5px $black);

  }
  &-wrapper{
    padding: 20px 0;
    text-align: center;
  }
}
