/**
 * Partial for Search bars and region specific.
 */

.search{
  &-bar{
    background: $dark-violet-pallete;
    color: $white;
    padding: 10px 0;
    @media #{$ipp}{
      padding: 20px 0;
    }
    &--region{
      &--field{
        position: relative;
        max-width: 500px;
        margin: 0 auto;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        @media #{$ipp}{
          background: $white;
          padding: 5px;
          @include flex-direction(row);
          @include justify-content(flex-start);
          @include rounded(25px);
        }
        &--input{
          background: $white;
          font-size: 16px;
          min-width: 100%;
          @include rounded(20px);
          line-height: 20px;
          min-height: 40px;
          padding: 10px 20px;
          margin: 10px 0 20px 0;
          color: $brown-pallete;
          border: 0;
          @media #{$ipp}{
            @include flex(1);
            min-height: 30px;
            background: transparent;
            line-height: 20px;
            font-size: 14px;
            padding: 0 5px 0 20px;
            min-width: 0;
            margin:0;
          }
          &::-webkit-input-placeholder{
            color: $brown-pallete;
          }
          &:focus{
            outline: none;
          }
        }
        &--button{
          font-size: 16px;
          line-height: 20px;
          padding: 10px 20px;
          @include rounded(20px);
          background: $pink-pallete;
          cursor: pointer;
          @media #{$ipp}{
            min-height: 30px;
            font-size: 12px;
            padding: 10px 25px;
            @include rounded(20px);
          }
          @include transform(scale(1));
          @extend %animationFast;
          &:focus,
          &:hover{
            outline: none;
            @include transform(scale(1.02));
            @include box-shadow(1px 1px 3px $black);
          }
        }
      }
    }
  }
  &-results{
    background: $violet-pallete;
    &--region{
      @media #{$ipp}{
        @include flexbox;
        @include justify-content(center);
        @include flex-wrap(wrap);
        @include flex-direction(column);
        width: 100%;
        min-height: 420px;
      }
      &--content{
        margin: 0 auto;
        padding: 0;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        max-width: 420px;
        @media #{$ipp}{
          max-width: 980px;
          padding: 40px 0;
        }
      }
    }
    .error-screen,
    .no-results{
      &--headline{
        margin: 30px 20px;
        font-size: 16px;
        @media #{$ipp}{
          margin: 0;
          font-size: 24px;
        }

        color: $light-violet-pallete;
        &.pink{
          color: $pink-pallete;
        }
      }
    }
    .initial-screen{
      display: none;
      @media #{$ipp}{
        display: block;
      }
      text-align : center;
      padding: 60px 0;
      img{
        width: 160px;
      }
      &--headline{
        margin-top: 30px;
        font-size: 24px;
        color: $light-violet-pallete;
        &.pink{
          color: $pink-pallete;
        }
      }
    }
  }
}


.recent-list{
    background: white;
    color: black;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: 10px;
    padding: 0 10px 10px 10px;
    font-size: 12px;
    @include rounded(5px);
    opacity: 0;
    pointer-events: none;
    @extend %animation;
    &.visible{
      @media #{$ipp}{
        opacity: 1;
        pointer-events: all;          
      }
    }
    &-no-result{
      color: $grey-pallete;
      text-align: center;
      @extend %ralewayMedium;
      padding: 10px 0;
      font-size: 12px;
    }
    &-header{
      color: $grey-pallete;
      padding: 10px 10px 10px 10px;
      @extend %ralewayBold;
    }
    &-delete{
      background: $pink-pallete;
      color: $white;
      padding: 7px 10px;
      @include rounded(5px);
      line-height: 12px;
      font-size: 10px;
      position: absolute;
      top : 3px;
      right: 3px;
      cursor: pointer;
      @extend %animationFast;
      &:focus,
      &:hover{
        outline: none;
        @include box-shadow(1px 1px 1px $black);
      }
    }
    &-item{
      cursor: pointer;
      padding: 10px;
      border-bottom: 1px solid $light-grey-pallete;
      @extend %animationFast;
      &:last-child{
        border: 0;
      }
      &:focus,
      &:hover{
        background: $light-grey-pallete;
        outline: none;
      }
    }
}
