*{
  box-sizing: border-box;
}
body{
  @extend %ralewayRegular;
  &.initially-hidden{
    opacity: 0;
    @extend %animation;
    &.has-loaded{
      opacity: 1;
    }
  }
}

.music-search{

}

.region{
  padding: 0 10px;
  @media #{$ipp}{
    padding: 0 30px;
  }
}
